body {
  background-color: white;
}

ul {
  list-style: none;
}

.navbar,
.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 40px;
  gap: 0.5rem;
}

.category {
  font-style: italic;
}
